<h1>Presupuesto en Chile - Crecimiento relativo por programa (2010 a 2017)</h1>
<div class="well">
    "Crecimiento relativo" hace referencia al crecimiento de l presupuesto de un programa en relación crecimiento general del presupuesto.
    <br><br>
    Para calcular el crecimiento relativo utilizamos como referencia la tasa de crecimiento del programa "Tesoro Público".  Si un programa creció un 10% (tasa 1.1) y el Tesoro Público también creció un 10% (tasa 1.1), entonces el crecimiento relativo del programa es un 0% (tasa 1.0)
    <br><br>
    Hemos promediado el crecimiento relativo de los presupuestos formulados en 4 años del gobierno del Presidente Piñera (años 2011,2012,2013,2014) y en 4 años de gobiernos de la Presidenta Bachelet (años 2010, 2015, 2016, 2017) para generar una tasa de crecimiento relativo asociada a cada del Presidente Piñera y a la Presidenta Bachelet. Estas tasas se reflejan en el siguiente gráfico.
</div>

<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-presupuesto-chart [data]="records"></app-presupuesto-chart>
      <!--<chart [options]="options3"></chart>
      <canvas baseChart width="400" height="400"
      [data]="chartData"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="'bubble'"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h3>Programas con crecimiento en gobierno de Piñera pero no en gobierno de Bachelet</h3>
      <ul>
        <li *ngFor="let item of partidasPrioridad_Pinera_SI_Bachelet_NO">
            {{item.programa}}
        </li>
      </ul>

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h3>Programas con crecimiento en gobierno de Bachelet pero no en gobierno de Piñera</h3>

      <li *ngFor="let item of partidasPrioridad_Pinera_NO_Bachelet_SI">
          {{item.programa}}
      </li>
    </div>
  </div>



  <div class="row">





    <!--
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Token</span>
          <h5>Token</h5>
        </div>
        <div class="ibox-content">
          <small>Bearer {{token}}</small>
        </div>
      </div>
    </div>
  -->



    <div class="col-lg-6" *ngFor="let item of records">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">{{item.partida}}</span>
          <h5>{{item.capitulo}} {{item.programa}}</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><small>Presupuesto 2017</small> {{currencyFormatter(item.montoPesos_2017)}} (<i class="fa" [class.fa-angle-up]="item.tasa_2017_2016>1" [class.fa-angle-down]="item.tasa_2017_2016<1" aria-hidden="true"></i>{{item.tasa_2017_2016 -1 | percent:'1.0-0'}})</h1>
          <h2>Promedio crecimiento relativo segun el gobierno en que fueron formulado:</h2>
          <div>Presidente Piñera: {{item['tasa_piñera_relativa'] | number:'1.2-2'}}</div>
          <div>Presidenta Bachelet: {{item.tasa_bachelet_relativa | number:'1.2-2'}}</div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Gob</th>
                <th>Año</th>
                <th>Pesos</th>
                <th>PesosAnterior</th>
                <th>Crecimiento partida</th>
                <th>Crecimiento tesoro</th>
                <th>Crecimiento relativo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>B</td>
                <td>2010</td>
                <td>{{currencyFormatter(item.montoPesos_2010)}}</td>
                <td>{{currencyFormatter(item.montoPesos_2009)}}</td>
                <td>{{item.tasa_2010_2009 | number:'1.2-2'}}</td>
                <td>{{item.tasaTesoro_2010_2009 | number:'1.2-2'}}</td>
                <td>{{item.tasa2010_2009_relativa | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td>P</td>
                <td>2011</td>
                <td>{{currencyFormatter(item.montoPesos_2011)}}</td>
                <td>{{currencyFormatter(item.montoPesos_2010)}}</td>
                <td>{{item.tasa_2011_2010 | number:'1.2-2'}}</td>
                <td>{{item.tasaTesoro_2011_2010 | number:'1.2-2'}}</td>
                <td>{{item.tasa2011_2010_relativa | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td>P</td>
                <td>2012</td>
                <td>{{currencyFormatter(item.montoPesos_2012)}}</td>
                <td>{{currencyFormatter(item.montoPesos_2011)}}</td>
                <td>{{item.tasa_2012_2011 | number:'1.2-2'}}</td>
                <td>{{item.tasaTesoro_2012_2011 | number:'1.2-2'}}</td>
                <td>{{item.tasa2012_2011_relativa | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td>P</td>
                <td>2013</td>
                <td>{{currencyFormatter(item.montoPesos_2013)}}</td>
                <td>{{currencyFormatter(item.montoPesos_2012)}}</td>
                <td>{{item.tasa_2013_2012 | number:'1.2-2'}}</td>
                <td>{{item.tasaTesoro_2013_2012 | number:'1.2-2'}}</td>
                <td>{{item.tasa2013_2012_relativa | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td>P</td>
                <td>2014</td>
                <td>{{currencyFormatter(item.montoPesos_2014)}}</td>
                <td>{{currencyFormatter(item.montoPesos_2013)}}</td>
                <td>{{item.tasa_2014_2013 | number:'1.2-2'}}</td>
                <td>{{item.tasaTesoro_2014_2013 | number:'1.2-2'}}</td>
                <td>{{item.tasa2014_2013_relativa | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td>B</td>
                <td>2015</td>
                <td>{{currencyFormatter(item.montoPesos_2015)}}</td>
                <td>{{currencyFormatter(item.montoPesos_2014)}}</td>
                <td>{{item.tasa_2015_2014 | number:'1.2-2'}}</td>
                <td>{{item.tasaTesoro_2015_2014 | number:'1.2-2'}}</td>
                <td>{{item.tasa2015_2014_relativa | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td>B</td>
                <td>2016</td>
                <td>{{currencyFormatter(item.montoPesos_2016)}}</td>
                <td>{{currencyFormatter(item.montoPesos_2015)}}</td>
                <td>{{item.tasa_2016_2015 | number:'1.2-2'}}</td>
                <td>{{item.tasaTesoro_2016_2015 | number:'1.2-2'}}</td>
                <td>{{item.tasa2016_2015_relativa | number:'1.2-2'}}</td>
              </tr>
              <tr>
                <td>B</td>
                <td>2017</td>
                <td>{{currencyFormatter(item.montoPesos_2017)}}</td>
                <td>{{currencyFormatter(item.montoPesos_2016)}}</td>
                <td>{{item.tasa_2017_2016 | number:'1.2-2'}}</td>
                <td>{{item.tasaTesoro_2017_2016 | number:'1.2-2'}}</td>
                <td>{{item.tasa2017_2016_relativa | number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>


</div>
